{{if .Header}}
<h2>{{ .Header }}</h2>
    <h3>Format</h3>
        <p>{{ .Name }}</p>
{{else}}
<h2>{{ .Name }}</h2>
{{end}}
    {{if .Description }}    
    <h3>Description</h3>
        <p>{{ .Description }}</p>
    {{end}}

    {{if .Http }}
    <h3>HTTP</h3>
        <p>{{ .Http }}</p>
    {{end}}

    {{if .HttpAndTcp }}
    <h3>HTTP/TCP</h3>
        <p>{{ .HttpAndTcp }}</p>
    {{end}}

    {{if .Tcp }}
    <h3>TCP</h3>
        <p>{{ .Tcp }}</p>
    {{end}}

    {{if .Udp }}
    <h3>UDP</h3>
        <p>{{ .Udp }}</p>
    {{end}}

    {{if .TcpAndUdp }}
    <h3>TCP/UDP</h3>
        <p>{{ .TcpAndUdp }}</p>
    {{end}}

    {{if .Note }}
    <h3>Note</h3>
        <p>{{ .Note }}</p>
    {{end}}
