<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    <script>
      function reply_click(clicked_id) {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            document.getElementById("docs").innerHTML = this.responseText;
            document.getElementById("docs").style.display = "block";
          }
        };
        xhttp.open("GET", "/docs?id="+clicked_id, true);
        xhttp.send();
      }
    </script>
  </head>
<body>

<div class="top">
    <form action="/update">
        <textarea id="message" name="message" placeholder="Paste access log here...">{{.AccessLog}}</textarea>
        <div>
            <span class="input-group-addon">
              <input type="submit" class="btn btn-fill btn-info pull-left" id="access_log_submit" name="access_log_submit" value="Process"/>
            </span>
            <span class="input-group-addon">
              <input type="checkbox" name="use_istio" id="use_istio" checked>
            </span>
            <label for="use_istio" style="color: #ffffff"> Use Istio</label>
        </div>
    </form>
</div>

<div class="split left">
    <h2><a href="https://github.com/nitishm/engarde">Engarde Output:</a></h2>
    {{if .ParesedLog }}
    <div class="boxes">
    <span style="color:#ffffff">{</span></br>
            {{if .ParesedLog.Authority}}
            <div id="authority" onClick="reply_click(this.id)">
                <span class="keyText">authority:</span>&nbsp;<span class="valueText">"{{.ParesedLog.Authority}}",</span></br>
            </div>
            {{end}}
            {{if .ParesedLog.BytesReceived}}
            <div id="bytes_received" onClick="reply_click(this.id)">
                <span class="keyText">bytes_received:</span>&nbsp;<span class="valueText">{{.ParesedLog.BytesReceived}},</span></br>
            </div>
            {{end}}
            {{if .ParesedLog.BytesSent}}
            <div id="bytes_sent" onClick="reply_click(this.id)">
                <span class="keyText">bytes_sent:</span>&nbsp;<span class="valueText">{{.ParesedLog.BytesSent}},</span></br>
            </div>
            {{end}}
            {{if .ParesedLog.ConnectionTerminationDetails}}
            <div id="termination_details" onClick="reply_click(this.id)">
                <span class="keyText">connection_termination_details:</span>&nbsp;<span class="valueText">{{.ParesedLog.ConnectionTerminationDetails}},</span></br>
            </div>
            {{end}}
            {{if .ParesedLog.Duration}}
            <div id="duration" onClick="reply_click(this.id)">
                <span class="keyText">duration:</span>&nbsp;<span class="valueText">{{.ParesedLog.Duration}},</span></br>
            </div>
            {{end}}
            {{if .ParesedLog.ForwardedFor}}
            <div id="forwarded_for" onClick="reply_click(this.id)">
                <span class="keyText">forwarded_for:</span>&nbsp;<span class="valueText">{{.ParesedLog.ForwardedFor}},</span></br>
            </div>
            {{end}}
            {{if .ParesedLog.Method}}
            <div id="method" onClick="reply_click(this.id)">
                <span class="keyText">method:</span>&nbsp;<span class="valueText">{{.ParesedLog.Method}},</span></br>
            </div>
            {{end}}
            {{if .ParesedLog.Protocol}}
            <div id="protocol" onClick="reply_click(this.id)">
                <span class="keyText">protocol:</span>&nbsp;<span class="valueText">{{.ParesedLog.Protocol}},</span></br>
            </div>
            {{end}}
            {{if .ParesedLog.RequestId}}
            <div id="request_id" onClick="reply_click(this.id)">
                <span class="keyText">request_id:</span>&nbsp;<span class="valueText">{{.ParesedLog.RequestId}},</span></br>
            </div>
            {{end}}
            {{if .ParesedLog.ResponseFlags}}
            <div id="response_flags" onClick="reply_click(this.id)">
                <span class="keyText">response_flags:</span>&nbsp;<span class="valueText">{{.ParesedLog.ResponseFlags}},</span></br>
            </div>
            {{end}}
            {{if .ParesedLog.ResponseCodeDetails}}
            <div id="response_details" onClick="reply_click(this.id)">
                <span class="keyText">response_code_details:</span>&nbsp;<span class="valueText">{{.ParesedLog.ResponseCodeDetails}},</span></br>
            </div>
            {{end}}
            {{if .ParesedLog.StatusCode}}
            <div id="status_code" onClick="reply_click(this.id)">
                <span class="keyText">status_code:</span>&nbsp;<span class="valueText">{{.ParesedLog.StatusCode}},</span></br>
            </div>
            {{end}}
            {{if .ParesedLog.TcpServiceTime}}
            <div id="tcp_service_time" onClick="reply_click(this.id)">
                <span class="keyText">tcp_service_time:</span>&nbsp;<span class="valueText">{{.ParesedLog.TcpServiceTime}},</span></br>
            </div>
            {{end}}
            {{if .ParesedLog.Timestamp}}
            <div id="timestamp" onClick="reply_click(this.id)">
                <span class="keyText">timestamp:</span>&nbsp;<span class="valueText">{{.ParesedLog.Timestamp}},</span></br>
            </div>
            {{end}}
            {{if .ParesedLog.UpstreamService}}
            <div id="upstream_service" onClick="reply_click(this.id)">
                <span class="keyText">upstream_service:</span>&nbsp;<span class="valueText">{{.ParesedLog.UpstreamService}},</span></br>
            </div>
            {{end}}
            {{if .ParesedLog.UpstreamServiceTime}}
            <div id="upstream_service_time" onClick="reply_click(this.id)">
                <span class="keyText">upstream_service_time:</span>&nbsp;<span class="valueText">{{.ParesedLog.UpstreamServiceTime}},</span></br>
            </div>
            {{end}}
            {{if .ParesedLog.UpstreamCluster}}
            <div id="upstream_cluster" onClick="reply_click(this.id)">
                <span class="keyText">upstream_cluster:</span>&nbsp;<span class="valueText">{{.ParesedLog.UpstreamCluster}},</span></br>
            </div>
            {{end}}
            {{if .ParesedLog.UpstreamLocal}}
            <div id="upstream_local" onClick="reply_click(this.id)">
                <span class="keyText">upstream_local:</span>&nbsp;<span class="valueText">{{.ParesedLog.UpstreamLocal}},</span></br>
            </div>
            {{end}}
            {{if .ParesedLog.DownstreamLocal}}
            <div id="downstream_local" onClick="reply_click(this.id)">
                <span class="keyText">downstream_local:</span>&nbsp;<span class="valueText">{{.ParesedLog.DownstreamLocal}},</span></br>
            </div>
            {{end}}
            {{if .ParesedLog.DownstreamRemote}}
            <div id="downstream_remote" onClick="reply_click(this.id)">
                <span class="keyText">downstream_remote:</span>&nbsp;<span class="valueText">{{.ParesedLog.DownstreamRemote}},</span></br>
            </div>
            {{end}}
            {{if .ParesedLog.RequestedServer}}
            <div id="requested_server" onClick="reply_click(this.id)">
                <span class="keyText">requested_server:</span>&nbsp;<span class="valueText">{{.ParesedLog.RequestedServer}},</span></br>
            </div>
            {{end}}
            {{if .ParesedLog.UriParam}}
            <div id="uri_param" onClick="reply_click(this.id)">
                <span class="keyText">uri_param:</span>&nbsp;<span class="valueText">{{.ParesedLog.UriParam}},</span></br>
            </div>
            {{end}}
            {{if .ParesedLog.UriPath}}
            <div id="uri_path" onClick="reply_click(this.id)">
                <span class="keyText">uri_path:</span>&nbsp;<span class="valueText">{{.ParesedLog.UriPath}},</span></br>
            </div>
            {{end}}
            {{if .ParesedLog.UserAgent}}
            <div id="user_agent" onClick="reply_click(this.id)">
                <span class="keyText">user_agent:</span>&nbsp;<span class="valueText">{{.ParesedLog.UserAgent}},</span></br>
            </div>
            {{end}}
            {{if .ParesedLog.OriginalMessage}}
            <div id="original_message">
                <span class="keyText">original_message:</span>&nbsp;<span class="valueText">{{.ParesedLog.OriginalMessage}},</span></br>
            </div>
            {{end}}
            {{if .ParesedLog.ParseError}}
            <span class="keyText">parse_error:</span>&nbsp;<span class="valueText">{{.ParesedLog.ParseError}},</span></br>
            {{end}}
    <span style="color:#ffffff">}</span>
    </div>
    {{end}}
</div>

<div class="split right">
  <h2><a href="https://www.envoyproxy.io/docs/envoy/latest/configuration/observability/access_log/usage#command-operators">Envoy Documentation:</a></h2>
  <div id="docs" class="boxes" style="display:none">
  </div>
</div>
     
</body>
</html> 

